@import 'tailwindcss';

@layer base {
  h1 { font-size: 1.75rem; }
  h2 { font-size: 1.25rem; }
  h3 { font-size: 1.125rem; }
  p  { font-size: 0.95rem; }
  a  { font-size: 0.95rem; }
  div { font-size: 0.95rem; }
  button { font-size: 0.95rem; }
}